
google-genai
google-generativeai
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
mysql-connector-python
numpy
openpyxl
orjson
packaging
pandas
pillow
pydantic
PyMuPDF
pyparsing
pypdf
PyPDF2
python-dateutil
python-docx
python-dotenv
pytz
SQLAlchemy
streamlit
python-docx
faiss-cpu